@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Zoo</h1>
    <p class="lead">Welcome to the zoo where you can see animals. You can learn more about zoos here:</p>
    <p><a href="https://en.wikipedia.org/?title=Zoo" class="btn btn-primary btn-large">Essential information &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Learn more about donkeys</h2>
        <p>Donkeys are super important and you should read about them.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Donkey">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Embark on a wonderful journey</h2>
        <p>We hope this zoo inspires you to go on safari.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/?title=Safari">Learn more &raquo;</a></p>
    </div>
</div>